header.header
    nav.nav.nav--books
        a.nav__el(href='#') Trending Books
    .book__logo
        img(src='#' alt='Booksreview logo')
    nav.nav.nav--user
        //- a.nav__el(href='#') My Books
        //- a.nav__el(href='#')
        //-     img.nav__user-img(src='#' alt='User photo')
        //-     span Tito Yak
        a.nav__el(href='/login') Log in
        a.nav__el.nav__el--cta(href='/sigup') Sign up