doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%22100%22>📚</text></svg>')
        title Bookyst | #{title}
    body
        //- Header
        include _header

        //- Page content
        block content
        
        //- Footer
        include _footer

        //- js
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js')
        script(src='/js/script.js')