doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' type="image/png" href="#")
        title Booksreview | #{title}
    body
        //- Header
        include _header

        //- Page content
        block content
        
        //- Footer
        include _footer

        //- js
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js')
        //- script(src='/js/signup.js')
        //- script(src='/js/login.js')
        script(src='/js/script.js')