doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type="image/png" href="#")
        title Booksreview | Reading is Sexy
    body
        //- Header
        include _header

        //- Page content
        section.overview
        footer.footer 
            p.footer__copyright &copy; Copyright: Tito Yak