extends base

block content
  main.main
    .form
      h2.heading-secondary Reading is living a thousand lives!!
      form.signup-form
        .form__group
          label.form__label(for='name') Your name
          input#name.form__input(type='text', placeholder='Achinua Achebe', required)
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          label.form__label(for='password') PasswordConfirm
          input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Sign Up