*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 85%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  color: #777;
  padding: 3rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* Header */
.header {
    background-color: #55c57a;
    padding: 0 5rem;
    height: 6rem;
    position: relative;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
/* Navigation elements */
.nav__el,
.nav__el:link,
.nav__el:visited {
  color: #f7f7f7;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.nav__el:hover,
.nav__el:active {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  text-shadow: 0 0.7rem 1rem #000000;
}
.nav__el:not(:last-child) {
  margin-right: 3rem;
}

/* Block Content */
.main {
    background-color: #f2f2f2;
    padding: 8rem 6rem;
    position: relative;
  }

.card-container {
    max-width: 100rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7rem;
}

.card {
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card__header {
    position: relative;
  }

.card__picture-img {
    /* position: relative; */
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
    height: 23rem;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }

.card__details {
    padding: 2.5rem 3rem;
}

.heading-tertirary {
    font-size: 1.5rem;
    text-align: right;
    position: absolute;
    bottom: .5rem;
    right: 5rem;
    width: 100%;
    color: #FFAB00;
  }

.card__sub-heading {
    font-size: 1.65rem;
  }
  
.card__footer {
    background-color: #f7f7f7;
    padding: 2.5rem 3rem;
    text-align: center;
  }

.btn,
.btn:link,
.btn:visited {
  border-radius: 10rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #55c57a;
  color: #fff;
  padding: 1rem 2rem !important;
  font-size: 1.4rem !important;
}

/* Footer */
.footer {
    background-color: #f2f2f2;
    font-size: 1.2rem;
    text-align: center;
  }

/* Book page */
.book {
  height: 100vh;
}

.book__content {
  width: 75%;
  height: 50rem;
  background-color: #f2f2f2;
  box-shadow: 0 2rem 4rem rgb(0, 0, 0, .2);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  display: table;
  overflow: hidden;
}

.book__left {
  width: 30%;
  display: table-cell;
}

.book__img {
  display: block;
  width: 100%;
}

.book__title {
  color: #FFAB00;
  text-align: center;
}

.book__details {
  padding-left: 10rem;
}

.book__right {
  width: 70%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}

/* Login template */
.signup-form,
.login-form {
  margin: 0 auto;
  max-width: 55rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px;
}

.heading-secondary {
  font-size: 2.25rem;
  text-transform: capitalize;
  font-weight: 700;
  color: #55c57a;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
  margin-bottom: 3.5rem !important;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form__input::-webkit-input-placeholder {
  color: #bbb;
}